html {
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 3em;
    margin-left: 50px;
}
header {
    height: 450px;
    width: 100%;
    text-align: center;
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
header h2 {
    font-size: 1em;
}

header .container {
    margin-bottom: 80px;
}

.nav-bar{
    height: 50px;
}
.navbar {
    float: right;
}
select {
    border-radius: 3px;
    border: none;
    margin-bottom: 1àpx;
}

#search {
    background-color: rgba(255, 255, 255, 0.7); 
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 800px;
    
}

#search input {
    width: 100%;
    border-radius: 3px;
    border: none;
}
#validate {
    background-color: rgba(41,181,37,0.7);
    width: 100%;
}
#validate:hover{
    cursor: pointer;
}


/* 
.search-grid-container {
    height: 200px;
    display: grid;
    grid-template-rows: 4fr;
    text-align: center;
} */



/* ========================================== Partie Grid ============================================ */
.btn-group{
    box-sizing: content-box;
}

.btn{
    border-radius: 3px;
    border: 1px solid rgb(4, 159, 4);
}
.slice{
    height: 2px;
    background-color: rgba(221, 221, 221, 0.305);
}

i:hover{
    cursor: pointer;
}

/* ========================================== Footer  ============================================ */

#agency {
    max-height: 150px;
    max-width: 180px;
}

.contact a {
    color: black;
    font-size: 0.8em;
    text-decoration: none;
}

.contact a:hover{
    cursor: pointer;
}

.grid-container {
    height: 200px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}


/* ========================================== Responsive  ============================================ */

@media  screen and (max-width: 760px) {
        .col p {
        display: none;
    }; 
}

@media screen and (min-width: 760px) {
    /* search-bar  */
    #search{
        height:51px;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

#search input {
    width: 30%;
    border-radius: 3px;
    border: none;
}
#validate {
    display: block;
    }

}